@font-face{
	src:url(fonts/Oswald-Original.ttf);
	font-family: Oswald;
}
@font-face {
	src: url(fonts/cocacola.ttf);
	font-family: cocaColaFont;
}

.logo {
	margin-top: 3px;
}

	.logo h1 {
		font-family: cocaColaFont; /* You don't need to repeat this for each 
media query as it is propagated */
		font-size: 31px;
		margin: 0;
		margin-top: -10px;
		margin-bottom: -15px;
		float: left;
		padding-top: 0px;
		padding-left: 0px;
		padding-right: 2px;
	}

	.logo h2 {
		font-family: cocaColaFont;
		font-size: 31px;
		margin-top: -6px;
		margin-bottom: -15px;
		padding-top: 0px;
		padding-left: 0px;
		padding-right: 3px;
		float: left;
	}

	.logo h3 {
		font-size: 18px;
		margin-top: 0px;
		margin-bottom: -5px;
		padding-top: 0px;
		padding-left: 0px;
		float: left;
	}

	.logo p {
		font-size: 7px; /* You may have to tweak this to get a good fit */
		margin-top: 22px; /* You may have to tweak this to get a good fit */
		margin-bottom: 0px;
		padding-top: 0px;
		padding-left: 3px;
	}
	
	.Coke3D  {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 1.0);
    padding: 2px;
    height: 200px;
	}
	X3D, x3d {
    border-radius: 5px;
    border: 1px solid rgba(255, 0, 0, 1.0);
    width: 100%;
    height: 100%
	}